<!DOCTYPE html>
<html>
<head>
    <title>Mushroom prediction </title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div class="main">
    <div class="form">
        <h1>Is the mushroom edible?</h1>
        <div class="title">Enter details about mushroom</div><br>
        <form  id="form" action= "{{ url_for('predict_data')}}" method="POST" >
        <div class="user-details">
            <div class="input">
            <label class="input-name">Cap-shape</label>
            <select name="cap-shape">
                <option value="b">Bell</option>
                <option value="c">Conical</option>
                <option value="x">Convex</option>
                <option value="f">Flat</option>
                <option value="k">Knobbed</option>
                <option value="s">Sunken</option>
            </select>
            </div>

            <br><br>

            <div class="input">
            <label class="input-name">Cap-surface</label> 
            <br>
            <select name="cap-surface">
                <option value="f">Fibrous</option>
                <option value="g">Grooves</option>
                <option value="y">Scaly</option>
                <option value="s">Smooth</option>
            </select> 
            </div>

            <br><br>
            
            <div class="input">
            <label class="input-name">Cap-color</label>
            <br>
            <select name="cap-color">
                <option value="n">Brown</option>
                <option value="b">Buff</option>
                <option value="c">Cinnamon</option>
                <option value="g">Gray</option>
                <option value="r">Green</option>
                <option value="p">Pink</option>
                <option value="u">Purple</option>
                <option value="e">Red</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
            </select>
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Bruises</label> 
            <br>
            <select name="bruises">
                <option value="t">Bruises</option>
                <option value="f">No</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">        
            <label class="input-name">Odor</label> 
            <br>
            <select name="odor">
                <option value="a">Almond</option>
                <option value="l">Anisel</option>
                <option value="c">Creosote</option>
                <option value="y">Fishy</option>
                <option value="f">Foul</option>
                <option value="m">Musty</option>
                <option value="p">Pungent</option>
                <option value="s">Spicy</option>
                <option value="n">None</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Gill-attachment</label> 
            <br>
            <select name="gill-attachment">
                <option value="a">Attached</option>
                <option value="d">Descending</option>
                <option value="f">Free</option>
                <option value="n">Notched</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Gill-spacing</label> 
            <br>
            <select name="gill-spacing">
                <option value="c">Close</option>
                <option value="w">Crowded</option>
                <option value="d">Distant</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Gill-size</label> 
            <br>
            <select name="gill-size">
                <option value="b">Broad</option>
                <option value="n">Narrow</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Gill-color</label> 
            <br>
            <select name="gill-color">
                <option value="k">Black</option>
                <option value="n">Brown</option>
                <option value="b">Buff</option>
                <option value="h">Chocolate</option>
                <option value="g">Gray</option>
                <option value="r">Green</option>
                <option value="o">Orange</option>
                <option value="p">Pink</option>
                <option value="u">Purple</option>
                <option value="e">Red</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Stalk-shape</label> 
            <br>
            <select name="stalk-shape">
                <option value="e">Enlarging</option>
                <option value="t">Tapering</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Stalk-root</label> 
            <br>
            <select name="stalk-root">
                <option value="b">Bulbous</option>
                <option value="c">Club</option>
                <option value="u">Cup</option>
                <option value="e">Equal</option>
                <option value="z">Rhizomorphs</option>
                <option value="r">Rooted</option>
                <option value="m">Missing</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Stalk-surface-above-ring</label> 
            <br>
            <select name="stalk-surface-above-ring">
                <option value="f">Fibrous</option>
                <option value="y">Scaly</option>
                <option value="k">Silky</option>
                <option value="s">Smooth</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Stalk-surface-below-ring</label> 
            <br>
            <select name="stalk-surface-below-ring">
                <option value="f">Fibrous</option>
                <option value="y">Scaly</option>
                <option value="k">Silky</option>
                <option value="s">Smooth</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Stalk-color-above-ring</label> 
            <br>
            <select name="stalk-color-above-ring">
                <option value="n">Brown</option>
                <option value="b">Buff</option>
                <option value="c">Cinnamon</option>
                <option value="g">Gray</option>
                <option value="o">Orange</option>
                <option value="p">Pink</option>
                <option value="e">Red</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Stalk-color-below-ring</label> 
            <br>
            <select name="stalk-color-below-ring">
                <option value="n">Brown</option>
                <option value="b">Buff</option>
                <option value="c">Cinnamon</option>
                <option value="g">Gray</option>
                <option value="o">Orange</option>
                <option value="p">Pink</option>
                <option value="e">Red</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Veil-type</label> 
            <br>
            <select name="veil-type">
                <option value="p">Partial</option>
                <option value="u">Universal</option>
            </select> 
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Veil-color</label> 
            <br>
            <select name="veil-color">
                <option value="n">Brown</option>
                <option value="o">Orange</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
            </select>
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Ring-number</label> 
            <br>
            <select name="ring-number">
                <option value="o">One</option>
                <option value="t">Two</option>
                <option value="n">None</option>
            </select>
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Ring-type</label> 
            <br>
            <select name="ring-type">
                <option value="c">Cobwebby</option>
                <option value="e">Evanescent</option>
                <option value="f">Flaring</option>
                <option value="l">Large</option>
                <option value="p">Pendant</option>
                <option value="s">Sheathings</option>
                <option value="z">Zone</option>
                <option value="n">None</option>
            </select>
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Spore-print-color</label> 
            <br>
            <select name="spore-print-color">
                <option value="k">Black</option>
                <option value="n">Brown</option>
                <option value="b">Buff</option>
                <option value="h">Chocolate</option>
                <option value="g">Green</option>
                <option value="o">Orange</option>
                <option value="u">Purple</option>
                <option value="w">White</option>
                <option value="y">Yellow</option>
            </select>
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Population</label> 
            <br>
            <select name="population">
                <option value="a">Abundant</option>
                <option value="c">Clustered</option>
                <option value="n">Numerous</option>
                <option value="s">Scattered</option>
                <option value="v">Several</option>
                <option value="y">Solitary</option>
            </select>
            </div>

            <br><br>
        
            <div class="input">
            <label class="input-name">Habitat</label> 
            <br>
            <select name="habitat">
                <option value="g">Grasses</option>
                <option value="l">Leaves</option>
                <option value="m">Meadows</option>
                <option value="p">Paths</option>
                <option value="u">Urban</option>
                <option value="w">Waste</option>
                <option value="d">Woods</option>
            </select>
            </div>

            <br><br><br>
        </div>
        
        <div class="button">
        <input type="submit" value="Predict">
        </div>
        </form>
    </div>
</div>
<div class="prediction" style="color: rgb(73, 73, 189); font-weight: bold; font-size: xx-large; letter-spacing: 1px;border: 1px solid #453f3f;background-color:rgb(245, 245, 252);border-radius: 5px; margin: 5; padding-left: 5px; padding-right: 5px;">
    {{prediction_text}}
</div>
</body>
</html>